<?xml version="1.0"?>
<launch>
    <!-- Step1: Launch script for ArduPilot based FCU's -->
	<!-- for Experiment -->
    <!-- roslaunch apm.launch fcu_url:=/dev/ttyS0:921600 gcs_url:=udp://:14550@192.168.0.173:14557 -->
	<arg name="fcu_url" default="/dev/ttyS0:921600" />
    <arg name="gcs_url" default="udp://127.0.0.1:14550@192.168.0.173:14557" />

	<!-- for SITL -->
	<!-- <arg name="fcu_url" default="udp://127.0.0.1:14550@14555" />
	<arg name="gcs_url" default="" /> -->
	<arg name="tgt_system" default="1" />
	<arg name="tgt_component" default="1" />
	<arg name="log_output" default="screen" />
	<arg name="fcu_protocol" default="v2.0" />
	<arg name="respawn_mavros" default="false" />
</launch>
